<ul>
  {{#each articles}}
    <li>
      <a href="/articles/{{urlTitle}}">{{title}}</a>
      <p>{{body}}</p>
      <div>{{author}}</div>
    </li>
  {{/each}}
</ul>
<a href="/articles/new">New Article</a>