<ul>
  {{#each articles}}
    <li>
      <a href="/articles/{{urlTitle}}">{{title}}</a>
      <p>{{author}}</p>
      <p>{{content}}</p>
    </li>
  {{/each}}
</ul>
<a href="/articles/new">New Article</a>