<h3>
  <form action="/products/update" method="post">
    {{Name}} <input type="text" name="name">
    {{Price}} <input type="text" name="price">
    {{Inventory}} <input type="text" name="inventory">
    <button type="submit">submit</button>
  </form>
</h3>